.root {
  width: 100%;
  height: 100%;
  --navBarWidth: 80px;
  --navBarHeight: 0px;
}

.sideNavBar {
  width: var(--navBarWidth);
  height: 100%;
  position: fixed;
  background-color: brown;
  overflow-x: hidden;
}

.mainApp {
  margin-left: var(--navBarWidth);
  width: 100vw - var(--navBarWidth);
  height: 100vh - var(--navBarHeight);
}

.headerIcon {
  color: #727272;
  margin: 1rem;
}

@media (max-width: 500px) {
  .root {
    --navBarWidth: 0px;
    --navBarHeight: 90px;
  }

  .sideNavBar {
    display: none;
  }
}