.root {
  position: inherit;
  width: 100%;
  background-image: url("../../../images/landing.png");
  background-size: cover;
}

.mealHeader {
  height: 100px;
  text-align: center;
  padding: 4.5rem 0rem 0rem 0rem;
  background-color:#FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 15px 15px; 
}

.headerItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.headerItem {
  flex: 1;
}

.headerItem:nth-of-type(1) {
  flex: 3;
}

.subHeading {
  font-weight: bold;
  color: #ff9400;
  font-size: 28px;
  margin: 0.6rem 0rem;
  padding-left: 20px;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  margin: 5px 0;
  padding: 0 20px;
}

.inputItem {
  flex: 1 100%;
  margin: 7px 10px;
  height: 20px;
  padding: 7px 2px;
}

.input::placeholder {
  position: absolute;
  font-size: large;
}

.inputItemAddress {
  flex: 1 100%;
  margin: 7px 10px;
  height: 20px;
  padding: 7px 2px;
}

/* Unit */
.inputItemAddress:nth-of-type(1) {
  flex-basis: 50%;
}

/* Unit */
.inputItemAddress:nth-of-type(2) {
  flex-basis: 30%;
}

/* City */
.inputItemAddress:nth-of-type(3) {
  flex-basis: 30%;
}

/* State */
.inputItemAddress:nth-of-type(4) {
  flex-basis: 20%;
}

/* Zip */
.inputItemAddress:nth-of-type(5) {
  flex-basis: 20%;
}

.input {
  width: 50%;
  height: 2.2rem;
  border-radius: 18px;
  border: none;
  background-color: #FFFFFFD0;
  box-shadow: 0px 3px 6px #00000029;
}

.buttonContainer {
  width: 40%;
  padding: 0 20px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.button {
  width: 100%;
  height: 100%;
  color: #ffffff;
  border: none;
  background-color: #ff9400;
  border-radius: 25px;
  padding: 10px;
  margin-top: 2rem;
  height: 51px;
  width: 121px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0px 3px 6px #00000029;
}
