.root {
    display: inherit;
    width: inherit;
    height: inherit;
}

.mealHeader {
    background-color: #FF9E19;
    border-radius: 0px 0px 20px 20px;
    height: 91px;
}

.headerItemContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}   

.headerItem {
    flex-direction: row;
    flex: 2;
}

.barsIcon{
    color: #FFFFFF;
}

.headingContainer {
    display: flex;
    align-items: center;
    height: 40px;
}

.headingItem {
    
}

.subHeading {
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding-left: 20px;
    margin: 0;
    font-family:'Roboto';
    text-align: left;
}

.editIcon {
    float: right;
    margin: 1rem;
    color:#FF9E19;

}

.personalDetails {
    font-weight: normal;
    color: black;
    font-size: 15px;
    padding-left: 20px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cardItem {
    flex: 1 20%;
    margin: 0 15px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #F4F2F2;
    color: black;
    max-width: 64px; 
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardItem:nth-of-type(3) {
    flex: 2;
}

.billingAddress {
    font-weight: normal;
    color:#00000099;
    width: 167px;
    font-size: 16px;
    padding-left: 20px;
    font-family: 'Roboto', 'Regular';
}

.orderHistoryContainer {
    display: flex;
    
    justify-content: left;
}

.orderHistoryItem {
    flex: 1;
}

.orderHistoryItemContianer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.orderHistorySubItem {
    flex: 1;
    height: 70px;
}

.addPayment {
    color: #3C3C43B4;
}

.profileTitle{
    font-weight: bold;
    font-size: 24px;
}

.passwordText {
    height: 31px;
    outline: none;
    border: 1px #FFF0C6;
    background-color: #FFF0C6;
    font-size: 16px;
    width: 247px;
    border-radius: 15px;
    text-align: center;
}

.checkoutButton{
    width: 143px;
    height: 52px;
    border-radius: 25px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #FF9400;
    border: 1px  #FF9400;
    margin-top: 20px;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    /* width: 95%;
    margin: 10px 0; */
}

.inputItem {
    flex: 1 100%;
    margin: 7px 15px 0 10px;
    height: 20px;
}

.inputItemAddress {
    flex: 1 100%;
    margin: 7px 15px 0 10px;
    height: 20px;
}

/* Unit */
.inputItemAddress:nth-of-type(1) {
    flex-basis: 50%;
}

/* Unit */
.inputItemAddress:nth-of-type(2) {
    flex-basis: 30%;
}

/* City */
.inputItemAddress:nth-of-type(3) {
    flex-basis: 30%;
}

/* State */
.inputItemAddress:nth-of-type(4) {
    flex-basis: 20%;
}

/* Zip */
.inputItemAddress:nth-of-type(5) {
    flex-basis: 20%;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: #eeeeee;
}

