.root {
    display: inherit;
    width: inherit;
    height: inherit;
}

.mealHeader {
    background-color: #FF9E19;
    border-radius: 0px 0px 20px 20px;
    height: 91px;
}

.headerItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}   

.headerItem {
    flex-direction: row;
    flex: 2;
}

.barsIcon{
    color: #FFFFFF;
}

.headingContainer {
    display: flex;
    align-items: center;
    height: 40px;
}

.headingItem {
    
}

.subHeading {
    font-weight: bold;
    color: black;
    font-size: 18px;
    padding-left: 20px;
    margin: 0;
    font-family:'Roboto';
    text-align: left;
}

.editIcon {
    float: right;
    margin: 1rem;
    color:#FF9E19;

}

.personalDetails {
    font-weight: normal;
    color: black;
    font-size: 15px;
    padding-left: 20px;
}

.cardContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.cardItem {
    flex: 1 20%;
    margin: 0 15px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #F4F2F2;
    color: black;
    max-width: 64px; 
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardItem:nth-of-type(3) {
    flex: 2;
}

.billingAddress {
    font-weight: normal;
    color:#00000099;
    width: 167px;
    font-size: 16px;
    padding-left: 20px;
    font-family: 'Roboto', 'Regular';
}

.orderHistoryContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

.orderHistoryItem {
    flex: 1;
}

.orderHistoryItemContianer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.orderHistorySubItem {
    flex: 1;
    height: 70px;
}

.addPayment {
    color: #3C3C43B4;
}

.profileTitle{
    font-weight: bold;
    font-size: 24px;
}