.root {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.mealHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #ebebeb;
    flex-wrap: wrap;
}

.headerItem {
    flex: 1;
}

.headerItem:nth-of-type(1) {
    flex: 3;
}

.mealSelectMenu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 20px;
}

.mealDays {
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin: 1rem 0rem;
}

.subTitle {
    font-weight: 600;
    color: black;
    font-size: 17px;
    margin: 0.5rem 0rem;
}

.mealNumber {
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin: 1rem 0rem;
    text-align: center;
}

.buttonWrapper {
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mealButton {
    color: #5a5a5a;
    border: 2px solid #727272;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 1rem 2rem;
    margin: 5px;
    align-content: center;
    flex: 1;
    min-width: 20%;
}

.mealButtonSelected {
    background-color: orange;
    color: black;
}

.subTitle2 {
    font-weight: 600;
    color: black;
    font-size: 17px;
    margin: 0.5rem 0rem;
}

.paymentWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paymentButton {
    color: #5a5a5a;
    border: 2px solid #727272;
    background-color: #ffffff;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 10px;
    padding: 20px;
}

.paymentButtonSelected {
    background-color: green;
    color: white;
}

.amount {
    display: flex;
    margin-top: 20px;
}

.amountItem {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.amountItem:nth-of-type(1) {
    flex: 2;
}

.amountItem:nth-of-type(1) input {
    width: inherit;
    height: inherit;
    border: 2px solid #727272;
    border-radius: 25px;
    padding: 10px;
    margin-right: 2rem;
    color: #5a5a5a;
}

.amountItem:nth-of-type(2) {
    flex: 1;
}

.amountItem:nth-of-type(2) button {
    width: 100%;
    height: 100%;
    color: #ffffff;
    border: 2px solid #a1a1a1;
    background-color: #a1a1a1;
    border-radius: 25px;
    padding: 10px;
}

@media (max-width: 500px) {
    .root {
        --flexMarginTD: 10px;
        --flexMarginLR: 10px;
        --flexWidth: 100px;
        --borderRadius: 50px;
        --sectionHeight: 50px;
    }

    .mealButton {
        min-width: 40%;
    }
}