.root {
    height: inherit;
    width: inherit;
}

.mealHeader {
    background-color: #ebebeb;
}

.headerItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.headerItem {
    flex: 1;
}

.headerItem:nth-of-type(1) {
    flex: 3;
}

.subHeading {
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin: .5rem 0;
    padding-left: 2rem;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    padding-left: 2rem;
    /* width: 95%;
    margin: 10px 0; */
}

.inputItem {
    flex: 1 100%;
    margin: 7px 15px 0 10px;
    height: 20px;
}

.inputItemAddress {
    flex: 1 100%;
    margin: 7px 15px 0 10px;
    height: 20px;
}

/* Unit */
.inputItemAddress:nth-of-type(1) {
    flex-basis: 50%;
}

/* Unit */
.inputItemAddress:nth-of-type(2) {
    flex-basis: 30%;
}

/* City */
.inputItemAddress:nth-of-type(3) {
    flex-basis: 30%;
}

/* State */
.inputItemAddress:nth-of-type(4) {
    flex-basis: 20%;
}

/* Zip */
.inputItemAddress:nth-of-type(5) {
    flex-basis: 20%;
}

.input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: #eeeeee;
}

.buttonContainer {
    width: 40%;
    padding: 0 20px;
    margin: 10px 10px;
}

.button {
    width: 100%;
    height: 100%;
    color: #ffffff;
    border: none;
    background-color: green;
    border-radius: 25px;
    padding: 10px;
}