.root {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.mealHeader {
  background-color: #FFFFFF;
  border-radius: 0px 0px 30px 30px;
  border-color: black;
  display: flex;
  flex-direction: row;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  box-sizing: border-box;
  height: 6rem;
  padding: 1rem;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
  justify-content: flex-end;
}

.mealheaderButton{
  border: none;
  background: none;
  padding: 10px;
  font-size: 15px;
  font-family: Verdana;
}

.avatar {
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 45px;
  border-radius: 50%;
  background-image: url("https://images.unsplash.com/photo-1554126807-6b10f6f6692a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 0.6rem;
  margin-left: 0.7rem;
}

.headerItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.positionImage{
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.selectionContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headerItem {
  flex: 1;
}

.headerItem:nth-of-type(1) {
  flex: 3;
}

.mealSelectMenu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 20px;
}

.mealDays {
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin: 0px;
}

.subTitle {
  font-weight: 600;
  color: black;
  font-size: 1.2rem;
  margin: 1.3rem 0rem;
}

.mealNumber {
  font-weight: bold;
  color: black;
  font-size: 15px;
  margin: 1rem 0rem;
  text-align: center;
}

.buttonWrapper {
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mealButton {
  color: #000000;
  background-color: #FFFFFFD0;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
  padding: 1rem 2rem;
  margin: 10px;
  align-content: center;
  flex: 1;
  min-width: 20%;
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

.mealButtonSelected {
  
  border: 3px solid #FFBA00;
}

.subTitle2 {
  font-weight: 600;
  color: black;
  font-size: 17px;
  margin: 0.5rem 0rem;
}

.paymentWrapper {
  min-width: 20%;
  border-radius: 70px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  padding: 1.3rem 2rem;
  margin: 10px;
  align-content: center;
  flex: 1;
  min-width: 20%;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 1px 1px 1px 2px #d3d3d3;
  margin-top: 1.2rem;
  margin-bottom: 2.5rem;
}

.paymentButton {
  color: #5a5a5a;
  border: none;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 10px;
  padding: 2px;
}

.paymentButtonSelected {
  background-color: #ffba00;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1.2rem;
  padding: 0rem 1.5rem;
  box-sizing: border-box;
  display:inline-block;
}
.amountItem {
  border: none;
  width: 130px;
  height: 52px;
  border-radius: 32px;
  padding: 10px 10px;
}

.input {
  width: 100%;
  height: 2.2rem;
  border-radius: 18px;
  border: none;
  background-color: #FFFFFFD0;
  box-shadow: 0px 3px 6px #00000029;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  margin: 10px 0;
  padding: 0 20px;
}

.inputItem {
  flex: 1 100%;
  margin: 7px 10px;
  height: 20px;
  padding: 7px 2px;
}
/* Street */
.inputItem:nth-of-type(1) {
  flex-basis: 25%;
}
/* Street */
.inputItem:nth-of-type(2) {
  flex-basis: 25%;
}

/* Street */
.inputItem:nth-of-type(3) {
  flex-basis: 100%;
}

/* Unit */
.inputItem:nth-of-type(5) {
  flex-basis: 25%;
}

/* City */
.inputItem:nth-of-type(6) {
  flex-basis: 25%;
}

/* State */
.inputItem:nth-of-type(7) {
  flex-basis: 25%;
}

/* Zip */
.inputItem:nth-of-type(8) {
  flex-basis: 35%;
}

/* Phone */
.inputItem:nth-of-type(9) {
  flex-basis: 25%;
}

/* Instructions */
.inputItem:nth-of-type(10) {
  height: 50px;
}

@media (max-width: 500px) {
  .root {
    --flexMarginTD: 10px;
    --flexMarginLR: 10px;
    --flexWidth: 100px;
    --borderRadius: 50px;
    --sectionHeight: 50px;
  }

  .mealButton {
    min-width: 40%;
  }
}
