.root {
  --flexMarginTD: 10px;
  --flexMarginLR: 10px;
  --flexWidth: 100px;
  --borderRadius: 50px;
  --sectionHeight: 50px;
  --fontSize: 24px;
}

.mealHeader {
  background-color: #ff9e19;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  flex-direction: row;
  background-color: #ff9e19;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  box-sizing: border-box;
  height: 6rem;
  padding: 1rem;
  align-items: center;
}

.avatar {
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 20px;
  height: 45px;
  border-radius: 50%;
  background-image: url("https://images.unsplash.com/photo-1554126807-6b10f6f6692a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 0.6rem;
  margin-left: 0.7rem;
}

.headerItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.headerItem {
  flex: 1;
}

.headerItem:nth-of-type(1) {
  flex: 3;
}

.topHeading {
  padding: 10px 20px 0 0;
}

.subHeading {
  font-weight: bold;
  color: black;
  font-size: 1.4rem;
  margin: 1rem 0rem;
  padding-left: 20px;
}
textarea::placeholder {
  font-size: larger;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardItem {
  flex: 1 100px;
  margin: 0 15px;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: #e2e2e2;
  color: black;
}

.inputContainer {
  display: flex;
  flex-wrap: wrap;
  width: inherit;
  margin: 10px 0;
  padding: 0 20px;
}

.inputItem {
  flex: 1 100%;
  margin: 7px 10px;
  height: 20px;
  padding: 7px 2px;
}
/* Street */
.inputItem:nth-of-type(1) {
  flex-basis: 25%;
}
/* Street */
.inputItem:nth-of-type(2) {
  flex-basis: 25%;
}

/* Street */
.inputItem:nth-of-type(3) {
  flex-basis: 100%;
}

/* Unit */
.inputItem:nth-of-type(5) {
  flex-basis: 25%;
}

/* City */
.inputItem:nth-of-type(6) {
  flex-basis: 25%;
}

/* State */
.inputItem:nth-of-type(7) {
  flex-basis: 25%;
}

/* Zip */
.inputItem:nth-of-type(8) {
  flex-basis: 35%;
}

/* Phone */
.inputItem:nth-of-type(9) {
  flex-basis: 25%;
}

/* Instructions */
.inputItem:nth-of-type(10) {
  height: 50px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.input {
  width: 100%;
  height: 2.2rem;
  border-radius: 18px;
  border: none;
  background-color: #fff0c6;
}
.input::placeholder {
  position: absolute;
  font-size: large;
}

.buttonContainer {
  width: 40%;
  padding: 0 20px;
  margin: 10px 10px;
}

.button {
  width: 100%;
  height: 100%;
  color: #ffffff;
  border: none;
  background-color: #ff9400;
  border-radius: 25px;
  padding: 10px;
  margin-top: 2rem;
  height: 52px;
  width: 108px;
  font-size: larger;
  font-weight: 500;
}

@media (max-width: 500px) {
  .root {
    --flexMarginTD: 10px;
    --flexMarginLR: 10px;
    --flexWidth: 60px;
    --borderRadius: 10px;
    --sectionHeight: 50px;
  }
}
