.root {
  --height: 50px;
  --width: 60px;
  --padding: 15px;
  width: inherit;
  height: inherit;
}

.navContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.navElt {
  height: var(--height);
  width: var(--width);
  padding: var(--padding);
}

.navElt img {
  width: inherit;
  height: inherit;
}

.navElt:nth-of-type(1) {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .navContainer {
    flex-flow: row;
    height: inherit;
  }

  .navElt {
    height: inherit;
    width: inherit;
    padding: 0;
    color: #727272;
    padding: 5px;
    /* overflow: hidden; */
  }

  .navElt:nth-of-type(1) {
    margin-top: 0;
  }

  a {
    width: inherit;
    height: inherit;
    text-decoration: none;
  }

  img {
    height: 50%;
  }

  p {
    padding: 0;
    margin: 0;
    color: #727272;
  }
}
